@import url(https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700&display=swap);

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 16px;
  font-family: Lato;
  color: #6a6a6a;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #ff5722;
  font-weight: 700;
  padding: 0 24px;
  height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_orange {
  color: #fff;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.btn_orange:hover {
  background-color: #ac3a17;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-family: Lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 127.5%;
  color: #10375c;
}

.title_white {
  color: #fff;
}

.over-title {
  font-size: 20px;
  line-height: 150%;
  color: #222831;
  margin: 0px 0px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.over-title::after {
  content: "";
  margin: 0 0 0 15px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}

.over-title_white {
  color: #fff;
}

.over-title_white::after {
  background-color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 124px;
  padding: 0px 0px 20px 0px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 0px 20px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8.10811%;
          flex: 0 1 8.10811%;
  position: relative;
  z-index: 10;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0px 20px 3px 0px;
}

.header__auth {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin: 0px 40px 0px 0px;
}

.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #222831;
  font-weight: 700;
  display: inline-block;
  line-height: 175%;
}

.menu__link:hover {
  color: #ff5722;
}

.icon-menu {
  display: none;
}

.footer {
  background: #0d2c4a;
  padding: 50px 0 105px 0;
  color: #fff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.78378%;
          flex: 0 1 33.78378%;
  padding-right: 125px;
}

.footer__title {
  font-family: Lora;
  font-weight: 700;
  font-size: 52px;
  line-height: 128.84615%;
  margin: 0px 0px 16px 0px;
}

.footer__text {
  line-height: 162.5%;
  color: #f8f8f8;
  margin: 0px 0px 24px 0px;
}

.footer__social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-footer__item {
  padding: 0 15px 0 0;
}

.social-footer__item:last-child {
  padding: 0;
}

.navigation-footer {
  padding: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.navigation-footer__column:last-child {
  padding: 0;
}

.navigation-footer__title {
  font-size: 20px;
  line-height: 150%;
  opacity: 0.5;
  margin: 0px 0px 24px 0px;
}

.navigation-footer__link {
  display: inline-block;
  color: #fff;
  line-height: 162.5%;
  margin: 0px 0px 8px 0px;
}

.navigation-footer__link:hover {
  color: #ff5722;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.intro {
  padding: 160px 0 0 0;
}

.intro__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59.18919%;
          flex: 0 1 59.18919%;
  font-family: Lora;
  font-weight: 700;
  font-size: 52px;
  line-height: 128.84615%;
  color: #10375c;
  padding: 0 15px 0 0;
}

.intro__title span {
  color: #dd2c00;
}

.intro__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.41441%;
          flex: 0 1 34.41441%;
  font-size: 20px;
  line-height: 150%;
}

.our-spaces {
  padding: 55px 0 65px 0;
}

.our-spaces__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 51px 0;
  position: relative;
}

.our-spaces__items::before {
  position: absolute;
  content: "";
  width: 53px;
  height: 26px;
  right: 117px;
  bottom: 0;
  background: #fff url(../img/icon/arrow-left-slider.svg) center no-repeat;
}

.our-spaces__items::after {
  position: absolute;
  content: "";
  width: 92px;
  height: 26px;
  right: 0;
  bottom: 0;
  background: #fff url(../img/icon/arrow-right-slider.svg) center no-repeat;
}

.our-spaces__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.23423%;
          flex: 0 0 34.23423%;
}

.our-spaces__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.72072%;
          flex: 0 1 40.72072%;
  color: #9a9a9a;
  font-size: 18px;
  line-height: 155.55556%;
}

.our-spaces__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  padding: 0 0 44px 0;
}

.our-spaces__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
}

.our-spaces__item {
  height: 100%;
}

.item-our-spaces__link {
  display: block;
}

.item-our-spaces__img {
  position: relative;
  padding: 0 0 100% 0;
  margin: 0px 0px 25px 0px;
}

.item-our-spaces__img img {
  max-width: 100%;
}

.item-our-spaces__img::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 72px;
  height: 72px;
  background: #ff5722 url(../img/icon/arrow-right.svg) center no-repeat;
  z-index: 1;
}

.item-our-spaces__text {
  font-weight: 700;
  color: #222831;
  text-align: center;
  font-size: 20px;
  line-height: 120%;
}

.check-our-spaces {
  background-color: #10375c;
  -webkit-box-shadow: 5px 4px 7px 0 rgba(16, 55, 92, 0.3);
          box-shadow: 5px 4px 7px 0 rgba(16, 55, 92, 0.3);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 35px;
  position: relative;
}

.check-our-spaces::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  top: 16px;
  right: 16px;
  background: url(../img/our-space/02.svg) right no-repeat;
}

.check-our-spaces__title {
  font-family: Lora;
  font-size: 32px;
  line-height: 128.125%;
  margin: 0px 0px 14px 0px;
}

.check-our-spaces__content {
  font-size: 18px;
  line-height: 155.55556%;
}

.check-our-spaces__link {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 72px;
  padding: 0 54px;
  background-color: #ff5722;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-our-spaces__link span {
  background: url(../img/icon/arrow-right.svg) right no-repeat;
  display: inline-block;
  padding: 0 33px 0 28px;
}

.our-spaces__line {
  text-align: center;
  font-size: 18px;
  line-height: 155.55556%;
  color: #222831;
  position: relative;
  padding: 7px;
}

.our-spaces__line::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 42%;
  width: 160px;
  height: 4px;
  background: #dd2c00;
}

.our-spaces__line span {
  font-size: 16px;
  line-height: 162.5%;
  color: #9a9a9a;
}

.why-frispes {
  padding: 0 0 60px 0;
}

.why-frispes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stat-why-frispes {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 51.35135%;
          flex: 0 1 51.35135%;
  padding: 35px 35px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stat-why-frispes__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.stat-why-frispes__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  text-align: center;
  display: inline-block;
}

.stat-why-frispes__content {
  padding: 0 0 0 16px;
  margin: 0px 0px 65px 0px;
}

.stat-why-frispes__title {
  font-family: lora;
  font-size: 32px;
  line-height: 128.125%;
  color: #10375c;
}

.stat-why-frispes__text {
  color: #9a9a9a;
  line-height: 162.5%;
}

.content-why-frispes {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.64865%;
          flex: 0 0 48.64865%;
  background-color: #10375c;
  padding: 54px;
  color: #fff;
}

.content-why-frispes__title {
  margin: 0 0 24px 0;
}

.content-why-frispes__text {
  font-size: 20px;
  line-height: 150%;
}

.our-facilities {
  padding: 0 0 106px 0;
}

.our-facilities__over-title {
  margin: 0px 0px 8px 0px;
}

.our-facilities__title {
  margin: 0px 0px 51px 0px;
  max-width: 570px;
}

.our-facilities__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.our-facilities__inner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 4px;
  height: 160px;
  display: block;
  background-color: #ff5722;
}

.our-facilities__navigation-our-facilities {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.23423%;
          flex: 0 1 34.23423%;
  padding: 0 42px;
}

.our-facilities__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65.67568%;
          flex: 0 1 65.67568%;
  padding: 0 0 41% 0;
}

.navigation-our-facilities__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26.3964%;
          flex: 0 0 26.3964%;
  padding: 0 24px;
  height: 72px;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  color: #222831;
}

.navigation-our-facilities__link_orange {
  background-color: #ff5722;
  color: #fff;
}

.who-frispes__container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.who-frispes__title {
  margin: 0px 0px 24px 0px;
}

.who-frispes__link {
  display: block;
  padding: 0 15px;
}

.who-frispes__text {
  font-size: 18px;
  line-height: 155.55556%;
  color: #9a9a9a;
  margin: 0px 0px 56px 0px;
}

.who-frispes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.find {
  padding: 60px 0px 96px 0px;
}

.find .find__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find__title {
  width: 578px;
  margin: 0px 0px 67px 0px;
}

.find__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.find__column {
  padding: 0 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 42px 43px 63px 42px;
  font-family: Lora;
  font-size: 26px;
  line-height: 126.92308%;
  color: #000;
  position: relative;
}

.find__column::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 46px;
  left: 40.85714%;
  bottom: -24px;
  background: #ff5722 url(../img/icon/arrow-bottom.svg) center no-repeat;
}

.find__column_orange {
  background-color: #ff5722;
  color: #fff;
}

.find__column_orange::before {
  background: #fff url(../img/icon/arrow-bottom-orange.svg) center no-repeat;
  -webkit-box-shadow: 5px 4px 7px 0 rgba(221, 44, 0, 0.24);
          box-shadow: 5px 4px 7px 0 rgba(221, 44, 0, 0.24);
}

.find__text {
  max-width: 277px;
  text-align: center;
  padding: 20px;
  padding: 5px;
}

.news {
  padding: 0px 0px 76px 0px;
}

.news__inner h2 {
  margin: 0px 0px 56px 0px;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.news__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 15px;
}

.column-duble {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
}

.column-duble__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-duble__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  padding: 0 0 42% 0;
}

.column-duble__content {
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.column-duble__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-duble__profile-content {
  padding: 0 23px;
}

.column-duble__profile-title {
  color: #10375c;
  line-height: 155.55556%;
}

.column-duble__profile-text {
  line-height: 162.5%;
  color: #9a9a9a;
}

.content-duble__title {
  font-family: Lora;
  font-weight: 700;
  font-size: 32px;
  line-height: 128.125%;
  color: #222831;
  margin: 0px 0px 16px 0px;
}

.content-duble__text {
  line-height: 162.5%;
  color: #9a9a9a;
  margin: 0px 0px 16px 0px;
}

.column-news__image {
  padding: 0 0 50% 0;
}

.column-news__content {
  padding: 15px;
}

.column-news__title {
  font-family: Lora;
  font-size: 22px;
  line-height: 127.27273%;
  margin: 0px 0px 8px 0px;
}

.column-news__link {
  color: #222831;
}

.became {
  background: #10375c;
  padding: 50px 0 0 0;
}

.became__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.became__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.09009%;
          flex: 0 1 40.09009%;
}

.became__over-title {
  padding: 20px 0 0 0;
  margin: 0px 0px 8px 0px;
}

.became__title {
  margin: 0px 0px 16px 0px;
}

.became__text {
  font-size: 20px;
  line-height: 150%;
  color: #dfdfdf;
  margin: 0px 0px 36px 0px;
}

.became__link {
  color: #fff;
}

.became__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.18018%;
          flex: 0 1 30.18018%;
  padding: 0 0 36% 0;
  background: url(../img/became/01.svg) no-repeat;
}

.became .btn-became {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.became .btn-became__item {
  padding: 0 114px;
  margin: 0px 0px 78px 0px;
}

@media (max-width: 1140px) {
  ._container {
    max-width: 950px;
  }
}

@media (max-width: 1139px) {
  .footer__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }

  .header {
    min-height: 100px;
    padding: 0px 0px 20px 0px;
  }

  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .menu__inner {
    display: none;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #eee;
    padding: 80px 10px 20px 10px;
  }

  .menu__inner::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 58px;
    z-index: 2;
    width: 100%;
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    margin: 0px 0px 20px 0px;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    margin: 0px 0px 0px 5px;
    z-index: 10;
  }

  .icon-menu span {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #222831;
    top: 50%;
    margin: -5% 0px 0px 0px;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .footer {
    padding: 25px 0 25px 0;
  }

  .footer__title {
    text-align: center;
  }

  .footer__text {
    text-align: center;
  }

  .intro {
    padding: 100px 0px 0px 0px;
  }

  .our-spaces__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }

  .our-spaces__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 25px 0px;
  }

  .our-spaces__line::before {
    left: 39%;
  }

  .why-frispes__container {
    display: block;
  }

  .stat-why-frispes {
    padding: 0;
  }

  .our-facilities {
    padding-bottom: 50px;
  }

  .our-facilities__inner {
    display: block;
  }

  .who-frispes__link {
    padding: 0px 0px 25px 0px;
  }

  .who-frispes__text {
    margin-bottom: 25px;
  }

  .who-frispes__inner {
    display: block;
  }

  .find__title {
    margin: 0px 0px 25px 0px;
  }

  .find__column {
    padding: 25px 15px;
  }

  .news__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .column-duble {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .became {
    padding: 0;
  }

  .became__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .became__title {
    text-align: center;
  }

  .became__text {
    text-align: center;
  }

  .became__image {
    display: none;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0px 15px;
  }

  .title {
    text-align: center;
  }

  .header {
    min-height: 80px;
    padding: 0px 0px 15px 0px;
  }

  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__title {
    font-size: 40px;
  }

  .footer__text {
    font-size: 0;
  }

  .intro {
    padding: 80px 0px 0px 0px;
  }

  .intro__item {
    display: block;
  }

  .intro__title {
    margin-bottom: 15px;
    padding-right: 0;
  }

  .our-spaces {
    padding: 0;
  }

  .our-spaces__items {
    display: inline-block;
    padding: 25px 0;
    margin-bottom: 25px;
  }

  .our-spaces__title {
    margin-bottom: 15px;
  }

  .our-spaces__inner {
    display: block;
    padding-bottom: 0;
  }

  .our-spaces__line {
    margin: 0px 0px 25px 0px;
  }

  .our-spaces__line::before {
    left: 40%;
  }

  .why-frispes {
    padding: 0px 0px 25px 0px;
  }

  .stat-why-frispes__content {
    margin: 0px 0px 25px 0px;
  }

  .our-facilities {
    padding-bottom: 25px;
  }

  .our-facilities__items {
    display: inline-block;
    width: 100%;
  }

  .our-facilities__title {
    max-width: 100%;
    margin: 0px 0px 25px 0px;
  }

  .find {
    padding: 25px 0;
  }

  .find {
    padding: 0;
  }

  .find__inner {
    display: block;
    margin: 0;
  }

  .find__column {
    margin: 0px 0px 50px 0px;
  }

  .find__text {
    max-width: 100%;
  }

  .news {
    padding: 0px 0px 50px 0px;
  }

  .news__items {
    display: block;
  }

  .column-duble__item {
    display: block;
  }

  .column-duble__image {
    display: block;
  }

  .column-news__title {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .btn {
    padding: 0px 15px;
  }

  .title {
    font-size: 30px;
  }

  .header__logo {
    padding: 0px 5px 0px 0px;
  }

  .header__menu {
    padding: 0px 0px 3px 0px;
  }

  .footer {
    padding: 10px 0 10px 0;
  }

  .footer__title {
    font-size: 30px;
    margin: 0;
  }

  .footer__social-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .navigation-footer {
    display: none;
  }

  .intro__title {
    font-size: 32px;
  }

  .intro__content {
    font-size: 16px;
  }

  .our-spaces {
    padding: 0 0 50px 0;
  }

  .our-spaces {
    padding: 0px 0px 15px 0px;
  }

  .our-spaces__content {
    font-size: 16px;
  }

  .our-spaces__column {
    margin: 0px 0px 10px 0px;
  }

  .item-our-spaces__img {
    margin: 0px 0px 10px 0px;
  }

  .our-spaces__line {
    font-size: 16px;
  }

  .our-spaces__line {
    margin: 0px 0px 15px 0px;
  }

  .our-spaces__line::before {
    left: 33%;
  }

  .why-frispes {
    padding: 0px 0px 15px 0px;
  }

  .stat-why-frispes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 0px 30%;
  }

  .stat-why-frispes__content {
    margin: 0px 0px 15px 0px;
  }

  .content-why-frispes {
    padding: 25px;
  }

  .content-why-frispes__title {
    margin: 0px 0px 15px 0px;
  }

  .content-why-frispes__text {
    font-size: 16px;
  }

  .our-facilities__title {
    margin: 0px 0px 15px 0px;
  }

  .navigation-our-facilities__link {
    font-size: 18px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .who-frispes__title {
    margin: 0px 0px 10px 0px;
  }

  .who-frispes__link {
    padding: 0px 0px 15px 0px;
  }

  .who-frispes__text {
    font-size: 16px;
  }

  .find__title {
    margin: 0px 0px 0px 0px;
  }

  .find__column {
    font-size: 20px;
    padding: 10px;
    margin: 0px 0px 15px 0px;
  }

  .find__column::before {
    display: none;
  }

  .news {
    padding: 0px 0px 15px 0px;
  }

  .news__inner h2 {
    margin: 0px 0px 15px 0px;
  }

  .column-duble__content {
    padding: 15px;
  }

  .content-duble__title {
    font-size: 28px;
  }

  .column-news__content {
    padding: 10px;
  }

  .column-news__text {
    font-size: 14px;
  }

  .became__text {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }

  .became .btn-became__item {
    padding: 0 20px;
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 22px;
  }

  .footer__title {
    font-size: 18px;
  }

  .our-spaces__line {
    margin: 0px 0px 15px 0px;
  }

  .our-spaces__line::before {
    left: 23%;
  }

  .stat-why-frispes__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 0px 15%;
  }

  .navigation-our-facilities__link {
    font-size: 18px;
    height: 50px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}